/* Login Specific Styles */
.login-page-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #fce4ec, #f8f1e5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Account for navbar height */
  }
  
  .login-container {
    background-color: white;
    width: 350px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    outline: 2px solid rgba(255, 255, 255, 0.8);
    outline-offset: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container h2 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    width: 100%;
  }
  
  .login-input {
    display: block;
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #ff3f6c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #e63258;
  }
  
  .red-link {
    color: #ff3f6c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .red-link:hover {
    text-decoration: underline;
  }
  .signup-button {
    width: 100%;
    padding: 12px;
    background-color: #ff0059;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #b30033;
  }
  